# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col=None)
# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ushuaia,AR,-54.8000,-68.3000,47.86,46,0,3.44,clear sky
1,Butaritari,KI,3.0707,172.7902,81.36,78,58,17.25,light rain
2,Neiafu,TO,-18.6500,-173.9833,77.68,78,40,11.50,scattered clouds
3,New Norfolk,AU,-42.7826,147.0587,48.70,84,100,2.06,overcast clouds
4,Tuktoyaktuk,CA,69.4541,-133.0374,29.08,76,100,9.17,overcast clouds
5,Vestmanna,FO,62.1564,-7.1664,49.12,81,75,24.16,broken clouds
6,Trairi,BR,-3.2778,-39.2689,82.09,66,7,16.06,clear sky
7,Newport,GB,51.5877,-2.9984,58.82,75,12,7.07,few clouds
8,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
9,Namie,JP,37.4833,141.0000,61.99,95,100,4.65,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = input("Searching for travel destinations? Enter your preffered choice of minimum temperature of the city: ") 

# Prompt the user to enter the maximum temperature criteria
max_temp = input("Enter your preffered choice of maximum temperature of the city: ")

Searching for travel destinations? Enter your preffered choice of minimum temperature of the city: 60
Enter your preffered choice of maximum temperature of the city: 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= float(min_temp)) & (city_data_df["Max Temp"] <= float(max_temp))]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Neiafu,TO,-18.6500,-173.9833,77.68,78,40,11.50,scattered clouds
8,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
9,Namie,JP,37.4833,141.0000,61.99,95,100,4.65,overcast clouds
12,Bambous Virieux,MU,-20.3428,57.7575,71.85,68,75,9.22,broken clouds
16,Tautira,PF,-17.7333,-149.1500,77.40,75,100,11.16,light rain
17,Sao Joao Da Barra,BR,-21.6403,-41.0511,78.89,79,51,8.01,broken clouds
18,Rikitea,PF,-23.1203,-134.9692,73.99,69,0,5.68,clear sky
19,Boa Vista,BR,2.8197,-60.6733,76.98,73,75,18.41,broken clouds
21,East London,ZA,-33.0153,27.9116,67.86,88,11,15.77,few clouds
22,Manado,ID,1.4870,124.8455,72.37,94,20,1.14,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Neiafu,TO,-18.6500,-173.9833,77.68,78,40,11.50,scattered clouds
8,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
9,Namie,JP,37.4833,141.0000,61.99,95,100,4.65,overcast clouds
12,Bambous Virieux,MU,-20.3428,57.7575,71.85,68,75,9.22,broken clouds
16,Tautira,PF,-17.7333,-149.1500,77.40,75,100,11.16,light rain
17,Sao Joao Da Barra,BR,-21.6403,-41.0511,78.89,79,51,8.01,broken clouds
18,Rikitea,PF,-23.1203,-134.9692,73.99,69,0,5.68,clear sky
19,Boa Vista,BR,2.8197,-60.6733,76.98,73,75,18.41,broken clouds
21,East London,ZA,-33.0153,27.9116,67.86,88,11,15.77,few clouds
22,Manado,ID,1.4870,124.8455,72.37,94,20,1.14,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = pd.DataFrame(clean_travel_cities,columns=["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"])

# Display sample data
hotel_df.head(10)

                 City Country  Max Temp Current Description      Lat       Lng
2              Neiafu      TO     77.68    scattered clouds -18.6500 -173.9833
8               Vaini      TO     75.36    scattered clouds -21.2000 -175.2000
9               Namie      JP     61.99     overcast clouds  37.4833  141.0000
12    Bambous Virieux      MU     71.85       broken clouds -20.3428   57.7575
16            Tautira      PF     77.40          light rain -17.7333 -149.1500
17  Sao Joao Da Barra      BR     78.89       broken clouds -21.6403  -41.0511
18            Rikitea      PF     73.99           clear sky -23.1203 -134.9692
19          Boa Vista      BR     76.98       broken clouds   2.8197  -60.6733
21        East London      ZA     67.86          few clouds -33.0153   27.9116
22             Manado      ID     72.37          few clouds   1.4870  124.8455

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df[["Hotel Name"]] = None

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Neiafu,TO,77.68,scattered clouds,-18.6500,-173.9833,None
8,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,None
9,Namie,JP,61.99,overcast clouds,37.4833,141.0000,None
12,Bambous Virieux,MU,71.85,broken clouds,-20.3428,57.7575,None
16,Tautira,PF,77.40,light rain,-17.7333,-149.1500,None
17,Sao Joao Da Barra,BR,78.89,broken clouds,-21.6403,-41.0511,None
18,Rikitea,PF,73.99,clear sky,-23.1203,-134.9692,None
19,Boa Vista,BR,76.98,broken clouds,2.8197,-60.6733,None
21,East London,ZA,67.86,few clouds,-33.0153,27.9116,None
22,Manado,ID,72.37,few clouds,1.4870,124.8455,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Neiafu,TO,77.68,scattered clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
8,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Namie,JP,61.99,overcast clouds,37.4833,141.0000,いこいの村なみえ
12,Bambous Virieux,MU,71.85,broken clouds,-20.3428,57.7575,Casa Tia Villa
16,Tautira,PF,77.40,light rain,-17.7333,-149.1500,Pension Oaoa
17,Sao Joao Da Barra,BR,78.89,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
18,Rikitea,PF,73.99,clear sky,-23.1203,-134.9692,People ThankYou
19,Boa Vista,BR,76.98,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
21,East London,ZA,67.86,few clouds,-33.0153,27.9116,Tu Casa
22,Manado,ID,72.37,few clouds,1.4870,124.8455,Aryaduta Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Neiafu,TO,77.68,scattered clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
8,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Namie,JP,61.99,overcast clouds,37.4833,141.0000,いこいの村なみえ
12,Bambous Virieux,MU,71.85,broken clouds,-20.3428,57.7575,Casa Tia Villa
16,Tautira,PF,77.40,light rain,-17.7333,-149.1500,Pension Oaoa
17,Sao Joao Da Barra,BR,78.89,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
18,Rikitea,PF,73.99,clear sky,-23.1203,-134.9692,People ThankYou
19,Boa Vista,BR,76.98,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
21,East London,ZA,67.86,few clouds,-33.0153,27.9116,Tu Casa
22,Manado,ID,72.37,few clouds,1.4870,124.8455,Aryaduta Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [12]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [13]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [14]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Mystic Sands Beachfront Accommodation</dd>\n<dt>City</dt><dd>Neiafu</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>いこいの村なみえ</dd>\n<dt>City</dt><dd>Namie</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 61.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pension Oaoa</dd>\n<dt>City</dt><dd>Tautira</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 77.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto De Canoas</dd>\n<dt>City</dt><dd>Sao Joao Da Barra</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aipana Plaza Hotel</dd>\n<dt>City</dt><dd>Boa Vista</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 67.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aryaduta Hotel</dd>\n<dt>City</dt><dd>Manado</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>few clouds and 72.37 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [15]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2  -18.6500 -173.9833
8  -21.2000 -175.2000
9   37.4833  141.0000
12 -20.3428   57.7575
16 -17.7333 -149.1500
17 -21.6403  -41.0511
18 -23.1203 -134.9692
19   2.8197  -60.6733
21 -33.0153   27.9116
22   1.4870  124.8455

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [16]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)


# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))